-model_class = Post
.page-hedder
  %h1=t  model_class.model_name.human

%p#notice= notice

- if @post.parent
  %dl.dl-horizontal
    %dt parent
    %dd= link_to @post.parent.id, post_path(@post.parent)

%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:body)
  %dd= @post.body

%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:attachments)
  - @post.attachments.each do |attachment|
    %dd= link_to image_tag(attachment.file.thumb.url, class: 'img-polaroid'), attachment.file.url

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path

%hr

- @post.children.each do |child|
  %dl.dl-horizontal
    %dt children
    %dd= link_to child.id, post_path(child)

%hr

- @post = Post.children_of(@post).build

= render 'form'


